/**/
/* styles/navbar.module.css */
.-topNav {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}

/* Basic styles for nav links */
.-topNav a {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 2rem;
  text-decoration: none;
  font-size: 1rem;
  border: solid 1px #3378ac;
  font-weight: 500;
  width: 11rem;
  justify-content: center;
}

.-topNav a:hover {
  background-color: #fff;
  color: #c00;
}

/* Specific styles for non-active links */
.-nonActive {
  color: black;
  background: white;
}

/* Specific styles for active links */
.-active {
  color: white;
  background: #3378ac;
}
